<?php

return array (
    'debug'         => true,
    'locale'        => 'en_US',
    'seedFile'      => __DIR__ . '/../var/data/seed.txt',
    'seedDefault'   => 100,
    'base_url'      => 'http://localhost:8787',
);
